
<div class="container wsu-container tabbox" id="lower-wrapper" style="">

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a class="lower-tabs" href="#spotlight" data-toggle="tab">Spotlight</a></li>
  <li><a class="lower-tabs" href="#news" data-toggle="tab">News</a></li>
  <li><a class="lower-tabs" href="#events" data-toggle="tab">Events Calendar</a></li>
</ul>

<div class="tab-content" id="lower-nav" style="background-color:#ffffff;"><!-- margin-left:-15px;margin-right:-15px; min-height:300px; -->
  
  <!-- SPOTLIGHT -->
  <div class="tab-pane active" id="spotlight">
    <div class="container" style="" id="lower-nav">
      <div class="row" style="padding-top:10px;">

        <div class="col-md-4" >
          <div class="col-12-md buckets">
            <div class="row">
              <div class="col-md-12">
                <h3 class="steel">Snowshoe Showdown</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-3 col-xs-4">
                <%= image_tag "OERC_small.png", class: 'img-responsive' %>
              </div>
              <div class="col-md-7 col-sm-9 col-xs-8 no-padding-left">
                <p>Join the Outdoor Education &amp; Recreation Center for snowshoeing, live music and prizes Feb. 9!</p>
                <button class="btn btn-primary btn-sm btn-steel" >Read More  <i class="fa fa-chevron-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4" >
          <div class="col-12-md buckets">
            <div class="row">
              <div class="col-md-12">
                <h3 class="orange">Transfer to WSU</h3>
              </div>
            </div> 
            <div class="row">
              <div class="col-md-5 col-sm-3 col-xs-4">
                <%= image_tag 'WSU-2011-Smiling-Student-2-Small.png', class: 'img-responsive'  %>
              </div>
              <div class="col-md-7 col-sm-9 col-xs-8 no-padding-left">
                <p>Academics. Technology. Sustainability. Health and wellness. Civic engagement. This is your opportunity to discover what matters.</p>
                <button class="btn btn-primary btn-sm btn-orange">Check it out  <i class="fa fa-chevron-circle-right"></i></button>
              </div>
            </div>   
          </div>
        </div>

        <div class="col-md-4" >
          <div class="col-12-md buckets">
            <div class="row">
              <div class="col-md-12">
                <h3 class="green">Dancescape 2014</h3>
              </div>
            </div> 
            <div class="row">
              <div class="col-md-5 col-sm-3 col-xs-4">
                <%= image_tag 'dancescape_small.png', class: 'img-responsive'  %>
              </div>
              <div class="col-md-7 col-sm-9 col-xs-8 no-padding-left">
                <p>Get your tickets for the 2014 Dancescape. Opening night is Feb. 13.</p>
            <button class="btn btn-primary btn-sm btn-green">Learn More <i class="fa fa-chevron-circle-right"></i></button>
              </div>
            </div>   
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- NEWS -->
  <div class="tab-pane" id="news">
    <div class="container" style="" id="lower-nav">
      <div class="row" style="padding-top:10px;"><!-- padding:20px 50px 0 50px; -->

        <div class="col-md-4" >
          <div class="col-12-md buckets">
            <h3 class="orange">Regional Emmy-Winner to Visit WSU</h3>
            <p class="full">Winona State University will host a talk with Regional Emmy-Winning Filmmaker and WSU graduate Olga Lezhepekova at 4 p.m. Monday, Feb. 10, in Somsen ...</p>
            <button class="btn btn-primary btn-sm btn-orange" >Read More  <i class="fa fa-chevron-circle-right"></i></button>
          </div>
        </div>

        <div class="col-md-4" >
          <div class="col-12-md buckets">
            <h3 class="steel">CLASP: “Comparative Student Activism”</h3>
            <p class="full">The Winona State University CLASP lecture series will host Professor Edward Guernica of the political science department for the presentation ...</p>
            <button class="btn btn-primary btn-sm btn-steel">Check it out  <i class="fa fa-chevron-circle-right"></i></button>
          </div>
        </div>

        <div class="col-md-4" >
          <div class="col-12-md buckets">
            <div class="row">
              <div class="col-md-12">
                <h3 class="green">Land Of Education</h3>
              </div>
            </div> 
            <div class="row">
              <div class="col-md-5 col-sm-3 col-xs-4">
                <%= image_tag '2010_Athenaeum_Small_button(1).PNG', class: 'img-responsive'  %>
              </div>
              <div class="col-md-7 col-sm-9 col-xs-8 no-padding-left">
                <p>Join Professor Bruno Borsari and learn how WSU's campus can become a powerful tool for education Feb. 12.</p>
                <button class="btn btn-primary btn-sm btn-green">Learn More <i class="fa fa-chevron-circle-right"></i></button>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-pane" id="events">

  <div class="container" style="" id="lower-nav">
    <div class="row" style="padding-top:10px;">
      <div class="col-md-8" >
        <div class="col-12-md buckets">
          <div class="row">
          <div class="col-md-6">
            <div class="row bucket-event">
              <div class="col-md-2 col-sm-1  col-xs-2 date"><a href="#">Feb<br /><span>15</span><br />2014</a></div>
              <div class="col-md-10 col-sm-11 col-xs-10"><a href="#">"Student Civic Movements in Comparative Context" (2/12/2014)</a></div>
            </div>
            <div class="row bucket-event">
              <div class="col-md-2 col-sm-1 col-xs-2 date"><a href="#">Feb<br /><span>15</span><br />2014</a></div>
              <div class="col-md-10 col-sm-11 col-xs-10"><a href="#">Sustainable Living at WSU (2/12/2014)</a></div>
            </div>
            <div class="row bucket-event" style="border:none;">
              <div class="col-md-2 col-sm-1 col-xs-2 date"><a href="#">Feb<br /><span>15</span><br />2014</a></div>
              <div class="col-md-10 col-sm-11 col-xs-10"><a href="#">WSU International Students (2/13/2014)</a></div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="row bucket-event">
              <div class="col-md-2 col-sm-1 col-xs-2  date"><a href="#">Feb<br /><span>15</span><br />2014</a></div>
              <div class="col-md-10 col-sm-11 col-xs-10"><a href="#">Composite Materials Engineering Open House (2/15/2014)</a></div>
            </div>
            <div class="row bucket-event">
              <div class="col-md-2 col-sm-1 col-xs-2 date"><a href="#">Feb<br /><span>15</span><br />2014</a></div>
              <div class="col-md-10 col-sm-11 col-xs-10"><a href="#">Common Book: Barry Estabrook (2/17/2014)</a></div>
            </div>
            <div class="row bucket-event" style="border:none;">
              <div class="col-md-2 col-sm-1  col-xs-2 date"><a href="#">Feb<br /><span>15</span><br />2014</a></div>
              <div class="col-md-10 col-sm-11 col-xs-10"><a href="#">WSU Ducks Unlimited 6th Annual Sportsman's Night Out (2/21/2014)</a></div>
            </div>
           
          </div>
        </div>
      </div>
      </div>

      <div class="col-md-4" >
        <div class="col-12-md buckets">
          <div class="row">
            <div class="col-md-12">
              <h3 class="steel" style="border-bottom:1px dotted #cdcdcd;">Pump Up The Jams!</h3>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-5 col-sm-3 col-xs-4">
              <%= image_tag '2012_Music_Dept_small_button.png', class: 'img-responsive'  %>
            </div>
            <div class="col-md-7 col-sm-9 col-xs-8 no-padding-left">
              <p>Don't miss this year's spring concert with featured artist Timeflies! Public tickets available March 1.</p>
          <button class="btn btn-primary btn-sm btn-steel">View all events <i class="fa fa-chevron-circle-right"></i></button>
            </div>
          </div>   
        </div>
      </div>

    </div>
  </div>

  </div>
</div>
</div>